/*
0 - 600px:          Phone
600px - 900px:      Tablet portrait
900px - 1200px:     Tablet landscape
[1200px - 1800px]   is where our normal styles apply
1800px + :          Big desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  /* We define font definitions within the body tag because it will be inherited by it's child element
    /* We define 'font-family' in body element and not '*' because the properties related to font are usually inherited */
  font-family: 'nunito', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  /* font-size: 16px; */
  /* Line height is 1.7 times bigger than the predefined line height.*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #333; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 900;
    margin-bottom: 3rem;
    line-height: 1.8; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 700; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        font-weight: 400; } }
  .heading-primary--quote {
    display: block;
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 1rem; }
    @media (max-width: 37.5em) {
      .heading-primary--quote {
        font-size: 3rem; } }
  .heading-primary--magical {
    display: inline-block;
    padding: .5rem 1rem;
    position: relative;
    font-size: 3.5rem;
    word-spacing: 1.2rem; }
    @media (max-width: 37.5em) {
      .heading-primary--magical {
        font-size: 3rem; } }
  .heading-primary--magical::before {
    content: '';
    position: absolute;
    left: 0;
    background: linear-gradient(135deg, #18ecc0, #18ec8b);
    width: 100%;
    height: 100%;
    z-index: -10;
    right: 0;
    display: inline-block;
    padding: 1rem; }

.heading-secondary {
  position: absolute;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all .2s;
  z-index: 1;
  color: #18ecc0;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1;
  color: #333; }
  @media (max-width: 75em) {
    .heading-tertiary {
      font-size: 5rem; } }
  @media (max-width: 75em) {
    .heading-tertiary {
      margin-bottom: 2rem; } }

.heading-quaternary {
  font-family: 'Playfair Display', serif;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #333;
  text-shadow: 0px 4px 3px rgba(24, 236, 192, 0.4), 0px 8px 13px rgba(24, 236, 192, 0.1), 0px 18px 23px rgba(24, 236, 192, 0.1); }
  @media (max-width: 56.25em) {
    .heading-quaternary {
      font-size: 3.45rem; } }
  @media (max-width: 37.5em) {
    .heading-quaternary {
      font-size: 2.8rem; } }

.paragraph {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  line-height: 1.8;
  color: #999; }
  .paragraph-primary {
    font-size: 2.1rem;
    color: #333; }
    @media (max-width: 75em) {
      .paragraph-primary {
        font-size: 1.8rem; } }
    @media (max-width: 56.25em) {
      .paragraph-primary {
        font-size: 2.5rem;
        margin: 2rem 0; } }
    @media (max-width: 37.5em) {
      .paragraph-primary {
        font-size: 2.15rem;
        font-weight: 300; } }
  .paragraph-secondary {
    font-size: 1.4rem; }
    @media (max-width: 37.5em) {
      .paragraph-secondary {
        font-size: 2.15rem; } }
  .paragraph-tertiary {
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: capitalize; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.heading-container {
  height: 6rem;
  position: relative;
  margin-top: -8vh; }
  @media (max-width: 37.5em) {
    .heading-container {
      height: 3rem; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.4rem 3.5rem;
  transition: all .2s;
  position: relative;
  font-weight: 400;
  border-radius: 50px;
  border: none;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #18ecae;
  color: #fff; }

.btn--black {
  background-color: #18ecae;
  color: #fff; }

.btn-txt {
  font-family: inherit;
  color: #333;
  display: inline-block;
  text-decoration: none;
  padding: 10px 22px;
  margin-top: 5rem;
  border-radius: 1rem;
  background-color: #fff;
  transition: all .2s;
  outline: none;
  border: none;
  text-transform: uppercase; }
  .btn-txt:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    outline: none; }
  .btn-txt:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
    outline: none; }

.profile__photo {
  width: 100%; }

.feature-box {
  background-color: #fff;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: #272727; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.form__group:not(:last-child) {
  margin-bottom: .5rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  width: 90%;
  background: #e6e6e6;
  border-radius: 10px; }
  .form__input--message {
    min-height: 15rem; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    background-origin: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #18ecc0; }
  .form__input:focus:invalid {
    border-bottom: 3px solid; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown ~ .form__label {
  transform: translateY(-4rem);
  visibility: hidden;
  opacity: 0; }

.form__button {
  font-size: 12px;
  padding-left: .5rem; }

.giga-text {
  position: absolute;
  font-size: 12rem;
  color: #4a4a4a;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  padding-bottom: 6rem;
  opacity: .07;
  font-weight: 700;
  width: 80%; }
  @media (max-width: 75em) {
    .giga-text {
      font-size: 10rem;
      transform: translate(-50%, -50%); } }
  @media (max-width: 56.25em) {
    .giga-text {
      font-size: 8rem; } }
  @media (max-width: 37.5em) {
    .giga-text {
      font-size: 5rem;
      padding-bottom: 4rem; } }

@keyframes scrolldown {
  0% {
    opacity: 0; }
  10% {
    opacity: 100%;
    transform: translateY(0); }
  100% {
    opacity: 100%;
    transform: translateY(15px); } }

@keyframes type {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0; }
  50% {
    background-position: 100% 70%, 0 0; }
  100% {
    background-position: 0% 30%, 0 0; } }

@keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0; }
  50% {
    background-position: 100% 70%, 0 0; }
  100% {
    background-position: 0% 30%, 0 0; } }

.open {
  background-color: transparent !important; }
  .open::before {
    top: 0 !important;
    transform: rotate(135deg); }
  .open::after {
    top: 0 !important;
    transform: rotate(-135deg) !important; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      height: 5rem;
      width: 5rem;
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.61, 0.92, 0.68, 1.14) 0s; }

.navigation__nav {
  height: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem;
  position: relative; }

.navigation__item:hover .navigation__item::after {
  width: 100%; }

.navigation__link {
  opacity: 0;
  font-size: 5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #18ecc0;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease; }
  .navigation__link span {
    padding-right: 3rem; }
  @media (max-width: 37.5em) {
    .navigation__link {
      font-size: 4rem; } }
  .navigation__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transition: all .3s ease;
    background: #18ecc0; }

.navigation__link:hover::after {
  transform: scale(1); }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  @media (max-width: 37.5em) {
    .navigation__icon {
      margin-top: 2.5rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 2rem;
        height: 1.5px; } }
  .navigation__icon:before, .navigation__icon:after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon:before {
    top: -8px; }
    @media (max-width: 37.5em) {
      .navigation__icon:before {
        top: -7px; } }
  .navigation__icon:after {
    top: 8px; }
    @media (max-width: 37.5em) {
      .navigation__icon:after {
        top: 7px; } }

.navigation__button:hover .navigation__icon::before {
  top: -10px; }

.navigation__button:hover .navigation__icon::after {
  top: 10px; }

.header {
  font-family: 'Nunito', sans-serif;
  position: relative;
  height: 100vh;
  background: linear-gradient(45deg, rgba(255, 175, 189, 0.7), rgba(100, 216, 243, 0.7), rgba(234, 236, 198, 0.7), rgba(245, 146, 176, 0.7), rgba(52, 219, 216, 0.7)) 0 0/1000% no-repeat, url(https://picsum.photos/g/2000/1200?image=443) 0 0/cover no-repeat;
  -webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0% 100vh);
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0% 100vh);
  background-position: top; }
  .header:target .navigation__nav {
    opacity: 0;
    visibility: hidden;
    height: 0; }
  .header:target .navigation__background {
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
  .header__logo-box {
    margin: .5rem; }
  .header__logo {
    width: 7rem; }
    @media (max-width: 37.5em) {
      .header__logo {
        width: 5rem; } }
  .header__text-box {
    width: 80%;
    position: absolute;
    left: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem 0;
    transform: translateX(-50%);
    height: 100vh; }
    @media (max-width: 37.5em) {
      .header__text-box {
        width: 90%; } }
  .header__arrow {
    position: absolute;
    bottom: 0;
    animation: bouncing 1.5s infinite ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem; }
  .header__about {
    font-weight: 600;
    max-width: 60rem;
    padding: 1rem; }
    @media (max-width: 75em) {
      .header__about {
        max-width: 50rem; } }
    @media (max-width: 56.25em) {
      .header__about {
        max-width: 70rem; } }
    @media (max-width: 37.5em) {
      .header__about {
        width: 95%;
        font-weight: 400; } }

.footer {
  font-family: inherit;
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__container {
    text-align: center; }
  .footer__navigation {
    padding-top: 2rem; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%; } }
  .footer__copyright {
    padding-top: 2rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    position: relative; }
    .footer__item:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 37.5em) {
        .footer__item:not(:last-child) {
          margin-right: 4rem; } }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    padding-top: 6rem 0;
    transition: all .2s; }
  .footer__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transform: scale(0);
    transition: all .3s ease;
    background: #18ecc0; }
  .footer__link:hover::after {
    transform: scale(1); }

.section-about {
  background-color: #fff;
  padding: 25rem 0;
  position: relative; }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 15rem 0 2rem 0; } }
  .section-about:target .navigation__nav {
    opacity: 0;
    visibility: hidden;
    height: 0; }
  .section-about:target .navigation__background {
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
  .section-about__content {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    z-index: 1; }
    @media (max-width: 75em) {
      .section-about__content {
        max-width: 98rem; } }
    @media (max-width: 56.25em) {
      .section-about__content {
        flex-direction: column;
        max-width: 85rem;
        padding: 2.5rem; } }
    .section-about__content--text {
      padding: 0 2rem;
      flex-basis: 50%;
      flex-direction: column;
      display: flex;
      align-items: start;
      justify-content: space-evenly;
      z-index: 1; }
      @media (max-width: 56.25em) {
        .section-about__content--text {
          flex-basis: auto;
          margin: 4rem 0;
          padding: 0; } }
    .section-about__content--photo {
      flex-basis: 50%;
      z-index: 1; }

.section-features {
  padding: 25rem 0;
  background-color: #edeeef; }
  @media (max-width: 56.25em) {
    .section-features {
      padding-top: 25rem;
      padding-bottom: 15rem; } }
  @media (max-width: 37.5em) {
    .section-features {
      padding-top: 18rem;
      padding-bottom: 10rem; } }
  .section-features__container {
    max-width: 94rem;
    margin: 0 auto; }
    .section-features__container:after {
      content: "";
      display: block;
      clear: both; }
    .section-features__container--1 {
      margin-bottom: 3rem;
      padding: 0 2rem; }
    .section-features__container--2 {
      padding: 0 2rem; }
  .section-features .clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both; }
  .section-features__box {
    width: 30%;
    float: left; }
    .section-features__box:not(:nth-child(3n)) {
      margin-right: calc(10% / 2); }

.section-portfolio {
  padding: 25rem 7rem;
  max-width: 125rem;
  margin: 0 auto; }
  @media (max-width: 37.5em) {
    .section-portfolio {
      padding: 18rem 1rem 15rem 1rem; } }
  .section-portfolio:target .navigation__nav {
    opacity: 0;
    visibility: hidden;
    height: 0; }
  .section-portfolio:target .navigation__background {
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
  .section-portfolio__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4rem;
    width: 100%; }
    @media (max-width: 37.5em) {
      .section-portfolio__container {
        grid-template-columns: 1fr; } }
  .section-portfolio__box {
    position: relative;
    border-radius: 6px;
    box-shadow: 0 1.5rem 4rem rgba(24, 236, 192, 0.25);
    background: #333;
    transition: all .8s ease; }
  .section-portfolio__item {
    position: relative;
    overflow: hidden; }
  .section-portfolio__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(135deg, #18ecc0, #18ec8b);
    opacity: 0;
    transition: all .6s ease; }
  .section-portfolio__img {
    width: 100%;
    object-fit: cover;
    display: block;
    transition: all .6s ease; }
  .section-portfolio__caption {
    background: transparent;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: 0;
    text-align: center;
    transition: all .6s ease;
    color: #333;
    width: 70%; }
    .section-portfolio__caption--tech {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem; }
      .section-portfolio__caption--tech p {
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        padding: .5rem; }
  .section-portfolio__box:hover .section-portfolio__img {
    transform: scale(1.1);
    filter: blur(4px); }
  .section-portfolio__box:hover .section-portfolio__item::after {
    opacity: .6; }
  .section-portfolio__box:hover .section-portfolio__caption {
    visibility: visible;
    opacity: 1; }

.toolbox {
  display: flex;
  align-items: center;
  padding: 9px;
  background: #333; }

.dot {
  border-radius: 100%;
  margin: .25rem;
  background-color: #eee;
  width: 10px;
  height: 10px; }

.section-book {
  padding: 15rem 0; }
  .section-book:target .navigation__nav {
    opacity: 0;
    visibility: hidden;
    height: 0; }
  .section-book:target .navigation__background {
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
  .section-book__container {
    max-width: 100rem;
    margin: 0 auto; }
  .section-book__dot {
    color: #18ecc0;
    margin-left: -8px; }
    @media (max-width: 75em) {
      .section-book__dot {
        margin-left: -4px; } }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(24, 236, 192, 0.2);
  background-position: center;
  display: flex;
  align-items: center; }
  @media (max-width: 56.25em) {
    .book {
      flex-direction: column; } }
  .book__form {
    padding: 6rem;
    flex-basis: 60%; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 70%;
        flex-basis: auto; } }
    @media (max-width: 37.5em) {
      .book__form {
        width: 100%;
        padding: 8rem 4rem; } }
  .book__info {
    flex-basis: 40%;
    color: #333;
    position: relative; }
    @media (max-width: 56.25em) {
      .book__info {
        flex-basis: auto;
        order: -1;
        display: flex;
        padding: 2rem 0;
        width: 100%;
        justify-content: space-evenly;
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/bgimage.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 5rem 0; } }
    @media (max-width: 37.5em) {
      .book__info {
        flex-direction: column;
        width: 100%;
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/bgimage.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 5rem 0;
        color: #272727; } }
    .book__info span {
      font-weight: 800;
      margin-right: 1rem; }
    .book__info--container {
      display: flex;
      margin-top: 1.5rem; }
      @media (max-width: 56.25em) {
        .book__info--container {
          text-align: center; } }
      @media (max-width: 37.5em) {
        .book__info--container {
          flex-direction: column; } }
    .book__info--iconbox {
      margin: 2rem; }
      @media (max-width: 37.5em) {
        .book__info--iconbox {
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff; } }
    .book__info--icon {
      width: 3rem;
      height: 3rem; }
    .book__info--contentbox {
      padding: 1rem; }
