@keyframes scrolldown{

    0%{
        opacity: 0;
    }

    10%{
        opacity: 100%;
        transform: translateY(0);
    }

    100%{
        opacity: 100%;
        transform: translateY(15px);
    }
}

@keyframes type{
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

